$white: #FFFFFF;
$gray: #EBEBEF;
$royal-blue: #443FDE;
$bright-gray: #3E404C;
$athens-gray: #F9F9FB;
$dusty-gray: #999999;
$shuttle-gray: #606476;
$ebony: #030407;
$water: #F3F3FC;
$seashell-peach:#FEF7F1;
$tussock: #C98B40;
$harp: #F1F8F4;
$green-pea: #246B49;
$shark: #24262D;
$manatee: #84889A;
$bombay: #B2B3BD;
