footer.footer 
    .container
        .footer__logo 
            a(href="index.html")
                img(src='icons/logo.svg', alt='logo')
        .footer__wrapper
            .footer__left
                .footer__title pages
                nav.footer__navigation 
                    ul.footer__navigation-list 
                        li.footer__navigation-link
                            a(href="index.html") Home
                        li.footer__navigation-link
                            a(href="#") Company
                        li.footer__navigation-link
                            a(href="#") Blog
            .footer__right
                .footer__sign Sign up to our newsletter
                form.footer__form
                    input.footer__form-input(type="text", placeholder='Email address')
                    button.footer__form-button Get Started
                    