header.header
    .container
        .header__wrapper
            .header__logo 
                a(href="index.html")
                    img(src='icons/logo.svg', alt='logo')
            nav.header__navigation 
                ul.header__navigation-list 
                    li.header__navigation-link
                        a(href="index.html") Home
                    li.header__navigation-link
                        a(href="#") Company
                    li.header__navigation-link
                        a(href="#") Blog
            .header__buttons
                a.header__link(href="#") Post a Job
                button.header__button Log in
            button.header__burger
            