section.membership 
    .container 
        .membership__wrapper 
            .membership__left 
                .membership__image
                    img(src='img/man.svg', alt='man')
                p.membership__inscription Partnership with Glassdoor and LinkedIn
            .membership__right 
                .membership__subtitle WHY CHOOSE US
                h3.membership__title Build a custom membership site with locked content.
                p.membership__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a mi rhoncus, pharetra leo et, efficitur tortor. Fusce vel convallis magna, sit amet pulvinar diam. Sed laoreet feugiat consequat.
                .membership__cards 
                    .membership__card 
                        .membership__card-image
                            svg.icon.membership__icon
                                use(href="icons/icons.svg#icon-users")
                        .membership__card-details 
                            p.membership__card-title Add a feature point here
                            p.membership__card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    .membership__card 
                        .membership__card-image
                            svg.icon.membership__icon
                                use(href="icons/icons.svg#icon-users")
                        .membership__card-details 
                            p.membership__card-title Add a feature point here
                            p.membership__card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    .membership__card 
                        .membership__card-image
                            svg.icon.membership__icon
                                use(href="icons/icons.svg#icon-users")
                        .membership__card-details 
                            p.membership__card-title Add a feature point here
                            p.membership__card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            
