doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Ipsum
        link(rel="stylesheet", href="css/style.min.css")
        link(rel="icon", href="icons/logo.svg", type="image/x-icon")
        script(src="js/script.js", defer)
    body
        include ./components/header
        main 
            include ./components/hero
            include ./components/jobs
            include ./components/companies
            include ./components/membership
            include ./components/feedback
            include ./components/news
            include ./components/explore
        include ./components/footer